[Unit]
Description=Atomic WireGuard
Before=systemd-networkd.service
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/atomic-wireguard
TimeoutStartSec=25m
RemainAfterExit=true
ExecStartPre=/usr/bin/atomic-wireguard-module build
ExecStart=/usr/bin/atomic-wireguard-module load
ExecReload=/usr/bin/atomic-wireguard-module reload
ExecStop=/usr/bin/atomic-wireguard-module unload

[Install]
WantedBy=network.target
